h1 {
  font-size: 90px;
  font-family: "Exo 2";
}

h3 {
  font-size: 25px;
  font-family: "Exo 2";
  margin-bottom: 5px;
}

body {
  font-family: "Exo 2";
  height: 110vh;
  background: linear-gradient(to bottom, black, #1d1d8c);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

button {
  height: 50px;
  border: solid;
  border-radius: 2px;
  border-color: white;
  color: white;
}

button:hover {
  cursor: pointer;
}

.parentDiv {
  height: 50vh;
  width: 100%;
  display: flex;
}

.childDiv {
  padding-top: 10px;
  padding-left: 10px;
  margin: 30px;
  border: solid;
  border-radius: 2px;
  border-color: white;
  color: white;
  height: 70vh;
  width: 200%;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: darkgreen;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.finished {
  text-decoration: line-through;
}

.dotFinished {
  height: 25px;
  width: 25px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

h5 {
  text-decoration: bold;
  font-size: 20px;
}

p {
  margin-right: 2px;
}

.hidden-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hidden-h {
  margin: 0;
  padding: 0;
}

.hidden-body1 {
  height: 100vh;
}

.flag-body {
  margin: 1rem;
}
